*{
	box-sizing: border-box;
}
table, td{
	border: 1px solid black;
}
#pokemonTable{
	display: none;
}
#centered{
	text-align: center;
}
h1{
	text-align: center;
}
#myCanvas {
    background: #ca0000;
    height: 500px;
    margin: 0 auto -150px;
    padding-top: 50px;
    width: 400px;
}
canvas {
    border: 10px solid #d2cfcf;
}
button {
    background: white;
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    height: 20px;
    margin: 1em;
    text-transform: uppercase;
}